In [1]:
import pandas as pd

In [11]:
# obtain the data that is in the table of postal codes
df_page=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [29]:
df=df_page[0]
df.head()

# The dataframe consists of three columns: PostalCode, Borough, and Neighborhood

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [30]:
# Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
df = df[(df['Borough']!='Not assigned')]
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [31]:
# More than one neighborhood can exist in one postal code area. These rows will be combined into one row with the neighborhoods separated with a comma.
df = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(','.join).reset_index()
df.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [33]:
# Cells that have a borough but a Not assigned neighborhood
df[df['Neighbourhood']=='Not assigned']

   Postcode       Borough Neighbourhood
93      M9A  Queen's Park  Not assigned

In [39]:
# Set the neighborhood the same as the borough.
df.loc[df['Neighbourhood']=='Not assigned','Neighbourhood']=df['Borough']

# Verify
df[df['Neighbourhood']=='Not assigned']

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

In [40]:
# Show the number of rows of your dataframe
df.shape

(103, 3)